/*this is google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


html {
  scroll-behavior: smooth;
}




#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: linear-gradient(to right, #E8D8BF, #C6AB8E);  height: 20px;
  border-radius: 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}




#header img{
height: 65px;
width: 65px;

}

#navbar{
  display: flex;
  align-items: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;

}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3 ease; /* the changing in color when hover*/
}
#navbar li a:hover,
#navbar li a:active /* here if this is the active page it will be highlighted*/
{
  color: #F7A6A6;

}
/* About Section */
.vidio_playing_bG {
    color: #fff;
    padding: 40px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    text-shadow: #333;
  }
  
  .about-content {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .about-video{
    position: absolute;
    height: 70%;
    width: 99%;
    object-fit: cover; 
    z-index: -1; 
    filter: blur(8px);
  }
  
.about {
    display: flex;
    text-align: center;
    padding: 20px 35px;
}
.about img {
    width: 300px;
}
.about h2 ,h3{
color: black;  
 margin: 20px 0;
 text-shadow: 2px 2px 2px rgb(255, 255, 255,0.5) ;
}

.about p{
    margin: 10px 0;
    text-shadow: 2px 2px 2px rgba(3, 3, 3, 0.5) ;
    line-height: 30px;
}

/* About Section */



/* contact Section */
.mapContainer{
  margin: 30px;
  padding: 30px;
  box-sizing: content-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #C6AB8E;
  border-radius: 8px;
  height: 750px;
}
#contactUs h3:hover{
  color: blue;
}

.social-media {
  display: flex;
  justify-content: space-between;
  gap: 150px; /*  the spacing between icons */
  white-space: nowrap;
 animation: 5s slide infinite linear;
}
.social-media:hover{
  animation-play-state: paused;

}

.social-media i{
  font-size: 30px;
}


/* contact Section */


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #C6AB8E;/* navigation bar color  https://redketchup.io/color-picker   */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); /*from x 0 from y 5 radios 15 rgba  0 0 0 0*/
  height: 110px;
  margin-top: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
}
.payment-cards{
  display: inline;
  justify-content: center;
  padding: 20px 0;
}

.cardsINrow {
  display: flex;
  justify-content: space-between;
  gap: 150px; /*  the spacing between icons */
  white-space: nowrap;
 animation: 8s slide infinite linear;

}
.cardsINrow:hover{
animation-play-state: paused;

}


.cardsINrow i {
  font-size: 36px; /*  the  size of icons */
}
.cardsINrow i {
  font-size: 36px; /* Adjust the size of the icons */
  transition: transform 0.3s ease-in-out; /* Add a transition for a smoother effect */
}

.cardsINrow i:hover {
  transform: scale(1.3); /* Increase the size on hover */
}

@keyframes slide{
from{transform: translateX(0);}
to{transform: translateX(-10%);}
}

  
  
