/*this is google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


html {
  scroll-behavior: smooth;
}




#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: linear-gradient(to right, #E8D8BF, #C6AB8E);  height: 20px;
  border-radius: 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}




#header img{
height: 65px;
width: 65px;

}

#navbar{
  display: flex;
  align-items: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;

}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3 ease; /* the changing in color when hover*/
}
#navbar li a:hover,
#navbar li a:active /* here if this is the active page it will be highlighted*/
{
  color: #F7A6A6;

}
/*login form*/
#loginCotainer{
    background-image: url(imgs/loginContainerBG.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 500px;
    width: 100%;
}
.loginCotainerDiv{
    display: flex;
    justify-content: space-between;
    height: 340px;
    width: 60%;
    position:absolute;
    left: 270px;
    top: 100px;
}
.loginImg{
}
.loginImg img{
    border-radius: 20px;
    height: 440px;
}
.loginData{
  
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    height: 380px;
    width: 600px;
    margin-top: 30px;    
    background-color: rgb(221, 222, 224,0.8);
    margin-left: -90px;
    box-sizing: border-box;
    text-align: center;
}
.labels-inputs{
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
  height: 120px;
}
.labels , .input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #C6AB8E;/* navigation bar color  https://redketchup.io/color-picker   */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); /*from x 0 from y 5 radios 15 rgba  0 0 0 0*/
    height: 110px;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 60px;
    overflow: hidden;
  }
  
  
  .cardsINrow {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px; /*  the spacing between icons */
  }
  
  .cardsINrow i {
    font-size: 36px; /*  the  size of icons */
  }
  .cardsINrow i {
    font-size: 36px; /* Adjust the size of the icons */
    transition: transform 0.3s ease-in-out; /* Add a transition for a smoother effect */
  }
  
  .cardsINrow i:hover {
    transform: scale(1.2); /* Increase the size on hover */
  }
  .COPYRIGHT{
    font-size: small;
  }
  
  
  